<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="./public/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>AGD | Acceuil</title>
</head>
<body>
    Ceci est l'acceuil du site.<br><br>
    <% for (let i=0; i< DBNS.length; i++) { %>
        <a href="#<%= DBNS[i] %>"><T_Sana id="<%= DBNS[i] %>"><%= DBNS[i] %></T_Sana></a><br>
    <% } %>
</body>
</html>