<!DOCTYPE html>
<html lang="fr">
    
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>AGD | Acceuil</title>
</head>
<body>
    <h1>Bienvenue sur AGD WP !</h1>
    <h2>Liste des DBs:</h2>
    <ul><% for (let i=0; i< DBNS.length; i++) { %>
        <li><a href="/src/db/<%= DBNS[i].slice(0, DBNS[i].length-4) %>">DB_<%= DBNS[i].slice(0, DBNS[i].length-4) %></a></li>
    <% } %></ul>
    To logout click <a href="/rm">HERE</a>.<br>
    Pour créer une DB clickez <a href="/src/new/db">ICI</a>.<br>

</body>
</html>