<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="./public/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>AGD | <%= DBN %> Ajout</title>
</head>
<body>
    Ceci est la page d'ajout à la DB <i><%= DBN %></i>.<br><br>
    <form method="post", action="/src/mod/db/<%= DBN %>/add">
        Titre: <input type="text" name="titre"><br>
        Auteur: <input type="text" name="auteur"><br>
        Langue: <input type="text" name="langue"><br>
        Date: <input type="text" name="date"><br>
        ISBN13: <input type="text" name="ISBN13"><br>
        ISBN10: <input type="text" name="ISBN10"><br>
        Edition: <input type="text" name="edition"><br>
        Nº pages: <input type="text" name="pages"><br>
        URL img: <input type="text" name="img"><br>
        <input type="submit" value="Confirmer">
    </form>
</body>
</html>