<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>AGD | Création DB </title>
</head>
<body>
    Ceci est la page pour créer une DB.<br><br>
    Pour créer la DB veuillez vous connecter en <i>root</i> sur AGD-WP.<br><br>
    <script>
        function check_pass() {
            const pwd1 = document.getElementById('pwd1').value;
            if (pwd1 == document.getElementById('pwd2').value && pwd1 != "") {
                document.getElementById('submit').disabled = false;
            } else {
                document.getElementById('submit').disabled = true;
            }
        }
    </script>
    <form method="post" action="/src/new/db/">
        <h4>Connexion AGD-WP:</h4>
        Username: <input type="text"     name="username" required><br>
        Password: <input type="password" name="userpswd" required><br>
        <h4>Infos de la DB:</h4>
        Nom de la DB: <input type="text"     class="inpoute" pattern="[A-Za-z0-9_·\-]+" minlength="2" maxlength="12" name="DB_name"              required>(Crs alphnum, _ & -. Max 12crs)<br>
        User root DB: <input type="text"     class="inpoute" pattern="[A-Za-z0-9_·\-]+" minlength="2" maxlength="12" name="DB_root" value="root" required>(Crs alphnum, _ & -. Max 12crs)<br>
        Pswd root DB: <input type="password" class="inpoute" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="pwd1" id="pwd1" onkeyup='check_pass();' required><br>
        Confirm pswd: <input type="password" class="inpoute" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="pwd2" id="pwd2" onkeyup='check_pass();' required><br>
        MdP: 8crs long. Crs min & MAJ + nombre.<br>
        <input type="submit" value="Confirmer" id="submit" disabled>
    </form><br>
    Retourner à l'<a href="/">acceuil</a>
</body>
</html>