<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>AGD | Création DB </title>
</head>
<body>
    Ceci est la page pour créer une DB.<br><br>
    Pour créer la DB veuillez vous connecter en <i>root</i> sur AGD-WP.<br><br>
    <form>
        <h4>Connexion AGD-WP:</h4>
        Username: <input type="text"     name="username"><br>
        Password: <input type="password" name="userpswd"><br>
        <h4>Infos de la DB:</h4>
        Nom de la DB: <input type="text" name="DB_name"><br>
        User root DB: root<br>
        Pswd root DB: <input type="password" name="userpswd"><br>
        Confirm pswd: <input type="password" name="userpswd"><br>
        
        <input type="submit" value="Confirmer">
    </form>
</body>
</html>