<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>AGD | Création user <%= DBN %> </title>
</head>
<body>
    <script>
        function check_pass() {
            const pwd1 = document.getElementById('pwd1').value;
            if (pwd1 == document.getElementById('pwd2').value && pwd1 != "") {
                document.getElementById('submit').disabled = false;}
            else {document.getElementById('submit').disabled = true};};
    </script>
    Ceci est la page pour créer un user pour la DB <<%= DBN %>>.<br><br>
    <form method="post" action="/src/users/db/<%= DBN %>/new">
        <h4>Infos du user:</h4>
        Username: <input type="text" name="username" value="root" required><br>
        <% if (is_adm) { %>Rights: <input type="text" value="1" placeholder="1-5" name="rights" value="root" required><br>
        <% } else { %>Rights: 1 (user lambda)<br><% } %>
        Password: <input type="password" name="pwd1" id="pwd1" onkeyup='check_pass();' required><br>
        Confirm: <input type="password" name="pwd2" id="pwd2" onkeyup='check_pass();' required><br>
        <input type="submit" value="Confirmer" id="submit" disabled>
    </form><br>
    Retourner à l'<a href="/">acceuil</a>
</body>
</html>